<!DOCTYPE html>

{%extends "recipes/base.html"%}
{% load static %}

{% block title %}<title>Блог</title>{%endblock%}
{%block head%}<h1 class="h1">Калькулятор рецептов</h1>{%endblock%}
{% block content %}
    <div class="lk-orders">
                <div class="lk-one-order-table">
                    {% if recipes %}
                    {% for recipe in recipes %}
                    <div class="post-preview">
                        <a href="{{recipe.get_absolute_url}}">
                            <h2 class="post-title">{{recipe.name}}</h2>
                            <h3 class="post-subtitle">{{recipe.notes}}</h3>
                        </a>
                        <p class="post-meta">
                            posted by
                        </p>
                    </div>
                    <hr class="my-4" />
                    {% endfor %}
                    {%endif%}

                    </div>
    </div>
{% endblock %}