<!DOCTYPE html>

{%extends "recipes/base.html"%}
{% load static %}

{% block title %}<title>Личный кабинет</title>{%endblock%}
{%block head%}<div class="head-h1"><h1 >Сохраненные рецепты</h1></div>
<div class="add-recipe-btn" style="float: right;max-width: 200px;"><a class="btn btn-primary rounded-pill px-3" type="button" href = '{% url "add_recipe"%}'>Добавить рецепт</a></div>
{%endblock%}
{% block content %}
<div class="lk-orders">
                <div class="lk-one-order-table">
                    {% if recipes %}
                    {% for recipe in recipes %}
                    <div class="post-preview">
                    <div class="recipe-price" style="float: right">{{ recipe.price }}</div>
                        <a href="{{recipe.get_absolute_url}}">
                            <h2 class="post-title">{{recipe.name}}</h2>
                            <h3 class="post-subtitle">{{recipe.notes}}</h3>
                        </a>

                    </div>
                    <hr class="my-4" />
                    {% endfor %}
                    {%else%}
                    <div class="top-table">
                        У вас пока нет рецептов!
                    </div>
                    {%endif%}
                    </div>
    </div>
{% endblock %}