<!DOCTYPE html>

{%extends "recipes/base.html"%}
{% load static %}

{% block title %}
    <title>{{recipe.name}} - себестоимость</title>
{%endblock%}

{%block head%}
    <h1 class="h1">{{recipe.name}}</h1>
{%endblock%}

{% block content %}
    <div class="body-recipe">
    <div class="contents">
        <table style="height:200px; width: 1000px; border-spacing: 1rem 1rem;border-collapse: separate;">
            <tbody>
            <tr>
                <th>Ингредиент</th>
                <th>Вес</th>
                <th>Цена</th>
                <th>Ссылка</th>
            </tr>
            {% for k,v in best_store.final_ingredients.items %}
            <tr class="row-row">
                <td class="row-ingred">{{k}}</td>

                {% if v.name == 'не найден' %}
                    <td class="row-weight"></td>
                <td class="row-price"></td>
                    <td class="row-link">{{ v.name}}</td>
                {% else %}
                    <td class="row-weight">{{ v.quantity }}</td>
                    <td class="row-price">{{ v.price }}</td>
                    <td class="row-link"><a href="{{ v.url }}">{{ v.name}}</a></td>
                {% endif %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    </div>
    <div class="recommend-price">
    <div class="recommend-price-info">
        <p>Итоговая себестоимость</p>
    </div>
    <div class="recommend-price-price">
<!--переменная с ценой--><p>{{ best_store.cart_price }}</p>
    </div>
    </div>
    <div class="recommend-price">
    <div class="recommend-price-info">
        <p>Рекомендуемая итоговая стоимость</p>
    </div>
    <div class="recommend-price-price">
<!--переменная с ценой--><p>{{best_store.recommend_price}}</p>
    </div>
    </div>
    <form method="POST">
    <div class="final-price">
    <div class="final-price-info">
        <p>
            Итоговая стоимость
        </p>
    </div>
    <div class="final-price-price">

            {% csrf_token %}
            {{ form }}


    </div>
    <div class="add-recipe-btn" style="margin-left: auto;margin-right: 100px;max-width: 100px;">
    <button class="btn btn-primary rounded-pill px-3"  type="submit" href = '#'>Сохранить</button>
    </div>
    </div>
    </form>

    <div class="card-choose">
    {% for k,v in stores_info.items %}
    <div class="card-block">
        <div class="card-block-name">
            <b>{{ k }}</b>
        </div>
        <div class="card-block-price">
            {{ v.cart_price}}
        </div>
        <a class="card-block-button" type="button" href = '{% url "recipe_price" recipe.id k %}'> Выбрать</a>

    </div>
        {% endfor %}
    </div>

{% endblock %}